{% extends 'base.html' %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% block main %}

    <style>
        .auth {
            font-size: 25px;
            margin-left: 25px;}
        .avatar {
            width: 75px;
            height: 75px;
            margin: 0 20px;
            border-radius: 100px;}
        .author {
            width: 500px;
            height: 550px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            box-sizing: border-box;
            border: 3px solid #231F20;
            align-items: center;
            border-radius: 5px;
            background-color: #BCBEC0;
            margin-bottom: 50px;}
    </style>
    
    <div class="wrapper">
        <div class="author">
            <p class="com">Username - {{ user.username }} <a class="com" href="{% url 'author_edit' request.user.id %}"><i class="fa-light fa-pen-to-square"></i></a></p>
            {% if not author.name %}
                <p class="com">Имя не добавлено</p>
            {% else %}
                <p class="com">Имя - {{ author.name }}</p>
            {% endif %}

            {% if not author.last_name %}
                <p class="com">Фамилия не добавлена</p>
            {% else %}
                <p class="com">Фамилия - {{ author.last_name }}</p>
            {% endif %}
            
            {% if not author.email %}
                <p class="com">Почти не добавлена</p>
            {% else %}
                <p class="com">Почта - {{ author.email}}</p>
            {% endif %}

            {% if not author.avatar %}
                <p class="com">Аватар не добавлен</p>
            {% else %}
                <p class="auth">Аватар - <img class="avatar" src="{{ author.avatar|thumbnail_url:'avatar' }}" alt="{{ author.avatar.name }}"></p>
            {% endif %}

            {% if not author.date_of_birthday %}
                <p class="com">Дата рождения не добавлена</p>
            {% else %}
                <p class="com">Дата рождения - {{ author.date_of_birthday}}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}